$color-sov-sunburn     : #EB8386;
$color-sov-salmon      : #F9B9A5;
$color-sov-apple-green : #B4DBC2;
$color-seaweed         : #002D04;
$color-jade-whisper    : #F0FFF5; // Penny's name
$color-sov-link-green  : #018a40;